@import "tailwindcss";
#root {
  @apply min-h-screen;
}

body {
  background: radial-gradient(circle at top, #d1fae5, #ffffff);
  background-attachment: fixed;
}


/* Smooth bounce animation fix */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}
